.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: skyblue;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: lightblue;
}

header {
  background-color: royalblue;
  color: #FFF;
  padding: 30px;
  border: auto solid white;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
}
header a:hover {
  background-color: white;
  color: #041C32;
}
table {
  color: white;
  font-size: 20px;
  padding: auto;
  border : auto;
  border-radius: 5px;
  margin: auto;
  width: 100%;
}
.header-top {
  display: auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #FFF;
}

.content {
  padding: 20px;
}

.photo img {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  border: 5px solid white;
  border-radius: 10px;
}

.bio {
  background-color: lightblue;
  padding: 10px;
  margin-top: 20px;
  border: auto;
  border-radius: 10px;
}

.education {
  background-color: #FFF;
  padding: 10px;
  margin-top: 20px;
  border: auto;
  border-radius: 10px;
}

.experience {
  background-color: lightblue;
  padding: 10px;
  margin-top: 20px;
  border: auto;
  border-radius: 10px;
}

footer {
  background-color: #FFF;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: auto;
  border-radius: 10px;
}

.social-media {
  /* Tautan sosial media */
  text-align: center;
}

.social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media ul li {
  display: inline-block;
  margin-right: 20px;
}

.social-media ul li:last-child {
  margin-right: 0;
}

.social-media ul li a {
  text-decoration: none;
}

.watermark {
  margin-top: 50px;
  text-align: center;
  font-size: 12px;
}
